{{ define "categories-header.tmpl" }}
  <a href="/for-students">For Students</a>
  <a href="/for-staff">For Staff</a>
  <a href="/for-applicants">For Applicants</a>
  <a href="/for-researches">For Researches</a>
{{ end }}
